{% from 'render_feed_list.html' import render_feed_list %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available RSS Feeds</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='rss-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<h1>Available RSS Feeds</h1>
{% if feeds %}
    {{ render_feed_list(feeds) }}
{% else %}
    <p>No feeds are currently available.</p>
{% endif %}
</body>

</html>
